# Discussion: Topic Modeling

## Group Names and Roles

- Group Member 1 (Role)
- Group Member 2 (Role)
- Group Member 3 (Role)

## Intro

In this Discussion activity, we'll continue with with topic modeling. Recall that topic modeling can often be used to infer themes (or "topics") from sets of text data. Today, we will work through an example in which we download some data, prepare it appropriately, and deploy a topic model to obtain insights about the general themes present in the data. 

Our data set for this activity consists of the texts of a number of Associated Press articles. It was originally collected by David Blei. I retrieved this data set [here](https://github.com/tdhopper/topic-modeling-datasets/tree/master/data/lda-c/blei-ap). 

Run the following code chunk to create a large string `s` containing the entire data set.

In [7]:
import urllib
def retrieve_text(url):
    """
    Retrieve text from the specified url and return 
    it as a string
    """
    
    # grab the data and parse it
    filedata = urllib.request.urlopen(url) 
    data = filedata.read()
    
    return(data.decode())

url = 'https://raw.githubusercontent.com/PhilChodrow/PIC16A/master/datasets/blei-ap.txt'
s = retrieve_text(url)

## Part A

Inspect `s`. Don't print out the entire string; just take a look at the first 5,000 characters or so. Write a function which, when `s` is provided as input, will return a list of document texts. It should exclude the excess tags and other metadata. Call this function to create a new list variable called `texts`, where each element of `texts` is the complete text of one news story. 

- ***Hint***: *First, split `s` on the newline character `"\n"`. Then, return a list of elements of the result with length longer than 100. This can be done with a for-loop, but a conditional list comprehension will be more compact*

The resulting list of news stories should have length 2226. 

Comments and docstrings are not necessary for this function.

In [2]:
s[:5000]

"<DOC>\n<DOCNO> AP881218-0003 </DOCNO>\n<TEXT>\n A 16-year-old student at a private Baptist school who allegedly killed one teacher and wounded another before firing into a filled classroom apparently ``just snapped,'' the school's pastor said. ``I don't know how it could have happened,'' said George Sweet, pastor of Atlantic Shores Baptist Church. ``This is a good, Christian school. We pride ourselves on discipline. Our kids are good kids.'' The Atlantic Shores Christian School sophomore was arrested and charged with first-degree murder, attempted murder, malicious assault and related felony charges for the Friday morning shooting. Police would not release the boy's name because he is a juvenile, but neighbors and relatives identified him as Nicholas Elliott. Police said the student was tackled by a teacher and other students when his semiautomatic pistol jammed as he fired on the classroom as the students cowered on the floor crying ``Jesus save us! God save us!'' Friends and family said the boy apparently was troubled by his grandmother's death and the divorce of his parents and had been tormented by classmates. Nicholas' grandfather, Clarence Elliott Sr., said Saturday that the boy's parents separated about four years ago and his maternal grandmother, Channey Williams, died last year after a long illness. The grandfather also said his grandson was fascinated with guns. ``The boy was always talking about guns,'' he said. ``He knew a lot about them. He knew all the names of them _ none of those little guns like a .32 or a .22 or nothing like that. He liked the big ones.'' The slain teacher was identified as Karen H. Farley, 40. The wounded teacher, 37-year-old Sam Marino, was in serious condition Saturday with gunshot wounds in the shoulder. Police said the boy also shot at a third teacher, Susan Allen, 31, as she fled from the room where Marino was shot. He then shot Marino again before running to a third classroom where a Bible class was meeting. The youngster shot the glass out of a locked door before opening fire, police spokesman Lewis Thurston said. When the youth's pistol jammed, he was tackled by teacher Maurice Matteson, 24, and other students, Thurston said. ``Once you see what went on in there, it's a miracle that we didn't have more people killed,'' Police Chief Charles R. Wall said. Police didn't have a motive, Detective Tom Zucaro said, but believe the boy's primary target was not a teacher but a classmate. Officers found what appeared to be three Molotov cocktails in the boy's locker and confiscated the gun and several spent shell casings. Fourteen rounds were fired before the gun jammed, Thurston said. The gun, which the boy carried to school in his knapsack, was purchased by an adult at the youngster's request, Thurston said, adding that authorities have interviewed the adult, whose name is being withheld pending an investigation by the federal Bureau of Alcohol, Tobacco and Firearms. The shootings occurred in a complex of four portable classrooms for junior and senior high school students outside the main building of the 4-year-old school. The school has 500 students in kindergarten through 12th grade. Police said they were trying to reconstruct the sequence of events and had not resolved who was shot first. The body of Ms. Farley was found about an hour after the shootings behind a classroom door.\n </TEXT>\n</DOC>\n<DOC>\n<DOCNO> AP880224-0195 </DOCNO>\n<TEXT>\n The Bechtel Group Inc. offered in 1985 to sell oil to Israel at a discount of at least $650 million for 10 years if it promised not to bomb a proposed Iraqi pipeline, a Foreign Ministry official said Wednesday. But then-Prime Minister Shimon Peres said the offer from Bruce Rappaport, a partner in the San Francisco-based construction and engineering company, was ``unimportant,'' the senior official told The Associated Press. Peres, now foreign minister, never discussed the offer with other government ministers, said the official, who spoke on condition of anonymity. The comments marked the first time Israel has acknowledged any offer was made for assurances not to bomb the planned $1 billion pipeline, which was to have run near Israel's border with Jordan. The pipeline was never built. In San Francisco, Tom Flynn, vice president for public relations for the Bechtel Group, said the company did not make any offer to Peres but that Rappaport, a Swiss financier, made it without Bechtel's knowledge or consent. Another Bechtel spokesman, Al Donner, said Bechtel ``at no point'' in development of the pipeline project had anything to do with the handling of the oil. He said proposals submitted by the company ``did not include any specific arrangements for the handling of the oil or for the disposal of the oil once it reached the terminal.'' Asked about Bechtel's disclaimers after they were made in San Francisco, the Israeli Foreign Ministry official said Peres believed Rappaport made the offer for the company. ``Rappaport came to Peres as a repres"

In [17]:
def texts(s):
    texts=[]
    for i in s.split("\n"):
        if len(i)>100:
            texts.append(i)
    return texts

In [18]:
# check the length of the result
len(texts(s))

2226

## Part B

Create a `pandas` data frame called `df` with a single column called `text`, whose rows are the entries of `texts`. This data frame should have 2226 rows. Show your data frame to check that it looks ok.

In [21]:
import pandas as pd
df=pd.DataFrame({'text':texts(s)})
df

                                                   text
0      A 16-year-old student at a private Baptist sc...
1      The Bechtel Group Inc. offered in 1985 to sel...
2      A gunman took a 74-year-old woman hostage aft...
3      Today is Saturday, Oct. 29, the 303rd day of ...
4      Cupid has a new message for lovers this Valen...
...                                                 ...
2221   The dollar rose in quiet European trading thi...
2222   Here are the companies known to be conducting...
2223   Bloodstains on a pillowcase and exercise bar ...
2224   When Ron Thompson sat down for lunch on New Y...
2225   A Navy anti-submarine helicopter crashed whil...

[2226 rows x 1 columns]

## Part C

Create the term-document matrix. The group's **Reviewer** might want to check the lecture notes on topic modeling for some code to do this. Add the term-document matrix to `df`. Make sure that the columns are labeled with the relevant word. 

I found that, for the purposes of the later parts of this exercise, the following arguments to `CountVectorizer` worked well: 

> `max_df = 100, min_df=0.01, stop_words='english'`

However, please feel free to experiment. 

Call the new data frame with counts `big_df`.

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

In [26]:
vec=CountVectorizer(max_df=100,min_df=0.01, stop_words='english')
counts=vec.fit_transform(df['text'])
counts=counts.toarray()
count_df=pd.DataFrame(counts,columns=vec.get_feature_names())
big_df=pd.concat((df,count_df),axis=1)
big_df.head(3)

,text,00,06,07,110,120,125,130,150,152,...,wrote,yard,yards,yen,yes,yield,yields,younger,youth,youths
0,A 16-year-old student at a private Baptist sc...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,The Bechtel Group Inc. offered in 1985 to sel...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,A gunman took a 74-year-old woman hostage aft...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Part D

Create an input matrix `X` which is identical to `big_df` but drops the `text` column. Then, create a Nonnegative Matrix Factorization (NMF) model and fit it to `X`. Start with 10 components.

In [30]:
from sklearn.decomposition import NMF

In [32]:
X=big_df.drop(['text'],axis=1)
model=NMF(n_components=10,init="random",random_state=0)
model.fit(X)
model.components_

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.26784614, 0.04474226, 0.05723875, ..., 0.        , 0.        ,
        0.0005466 ],
       [0.        , 0.        , 0.        , ..., 0.01166146, 0.02646918,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.02825028, 0.        ,
        0.        ],
       [0.01987081, 0.16340854, 0.14089448, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.07583181, 0.06737085,
        0.08013695]])

## Part E

The following code (from lecture) will extract the top words within each topic. Run this code.

In [33]:
import numpy as np
def top_words(X, model, component, num_words):
    """
    Extract the top words from the specified component 
    for a topic model trained on data. 
    X: a term-document matrix, assumed to be a pd.DataFrame
    model: a sklearn model with a components_ attribute, e.g. NMF
    component: the desired component, specified as an integer. 
        Must be less than than the total number of components in model
    num_words: the number of words to return.
    """
    orders = np.argsort(model.components_, axis = 1)
    important_words = np.array(X.columns)[orders]
    return important_words[component][-num_words:]

Use this code to investigate the topics constructed by the model. Can you interpret any of them? Keep in mind that many of these news articles are from the 1980s and 1990s. That's before many of you were born, you whippersnappers! 

I was able to find U.S. political party conventions; fluctuations in the price of oil; U.S. / Soviet tensions; and international finance news, among other things. Show the top words for a few different topics, and see whether any of them look interpretable to you.

In [34]:
# show the top words for a topic
top_words(X, model, 1, 10)

array(['berlin', 'currency', 'tokyo', 'dealers', 'troy', 'ounce', 'bid',
       'gold', 'yen', 'german'], dtype=object)

In [ ]:
# show the top words for a topic

In [ ]:
# show the top words for a topic

In [ ]:
# show the top words for a topic